<div class="dropdown" [class.show]="showList">
    <dropdown-button 
        [loading]="loading"
        [categories]="categories"
        (clicked)="show()"
        (clear)="onClear($event)"
        (close)="onKeyUp($event)">
    </dropdown-button>
    <div class="dropdown-menu animated" aria-labelledby="dropdownMenuButton">
        <div class="search-box">
            <input type="text" 
                class="form-control"
                #search
                autocomplete="false" 
                placeholder="Search here"
                (keyup)="onKeyUp($event)">
        </div>
        <ul>
            <li *ngFor="let category of (categories | searchFilter: search.value)">
                <div class="form-check dropdown-item">
                    <label class="form-check-label">
                        <input 
                            class="form-check-input" 
                            type="checkbox"
                            [checked]="category.selected"
                            (change)="onChecked(category)">
                            {{ category.category_name }}
                    </label>
                </div>
            </li>
        </ul>
    </div>
</div>