.dropdown-menu {
    width:100%;
    text-align: left;
    max-height:350px;
    overflow:scroll;
    ul {
        list-style-type: none;
        padding-left: 1rem;
    }
    .dropdown-item.active, .dropdown-item:active {
        color:#fff;
    }
    .dropdown-item { 
        margin-bottom: 0;
        white-space: normal;
    }
    .search-box { 
        padding: 4px 8px;
        input {
            text-align: center;
        }
    }

    a {
        cursor: pointer;
    }
}

.dropdown {
    button {
        overflow:hidden;
    }
}

.form-check-label {
    width:100%;
}