<div class="container-fluid" *ngIf="bookmakers.length > 0">
    <div class="row scrollable-section">
        <table *ngFor="let bookmaker of bookmakers; trackBy: trackByName"
            class="table table-bordered table-sm">
            <thead>
                <tr>
                    <th>{{ bookmaker.bookmaker_name }}</th>
                </tr>
            </thead>
            <tbody>
                <odd-table [odds]="bookmaker.odds"></odd-table>
            </tbody>
        </table>
    </div>
</div>