<nav class="navbar navbar-inverse bg-inverse">
  <a class="navbar-brand" href="#"><strong>All Odds</strong></a>
</nav>
<div class="container">
    <div class="row alert bg-secondary">
        <div class="col-md-12 col-sm-12 col-lg-6">
            <categories 
                [categories]="categories | async"
                [loading]="loadingCategories | async"
                (checked)="onChecked($event)"
                (clear)="onClear()"></categories>
        </div>
       <div class="col-md-12 col-sm-12 col-lg-6">
            <my-date-picker name="mydate" 
                [options]="myDatePickerOptions"
                [(ngModel)]="model"
                (inputFieldChanged)="onDateChanged($event)"
                [disabled]="loadingCategories | async"></my-date-picker>
       </div>
    </div>
</div>
{{ matches | async | json }}
{{ date | async | json }}

