<nav class="navbar navbar-inverse bg-inverse">
  <a class="navbar-brand" href="#"><strong>All Odds</strong></a>
</nav>
<div class="container">
    <div class="row alert bg-secondary">
        <div class="col-md-12 col-sm-12 col-lg-6">
            <categories 
                [categories]="categories | async"
                [loading]="loadingList | async"
                [selected]="selectedList | async"
                (checked)="onChecked($event)"></categories>
        </div>
    </div>
</div>
