<nav class="navbar navbar-inverse bg-inverse">
  <a class="navbar-brand" href="#"><strong>All Odds</strong></a>
</nav>
<div class="container">
    <div class="row alert">
        <div class="col-md-12 col-sm-12 col-lg-7">
            <categories 
                [categories]="categories | async"
                [loading]="loadingCategories | async"
                [showList]="toggle | async"
                (checked)="onChecked($event)"
                (toggle)="onToggle($event)"
                (clear)="onClear()"></categories>
        </div>
       <div class="col-md-12 col-sm-12 col-lg-3">
            <my-date-picker name="mydate" 
                [options]="myDatePickerOptions"
                [(ngModel)]="model"
                (inputFieldChanged)="onDateChanged($event.value)"
                [disabled]="loadingCategories | async"></my-date-picker>
       </div>
       <div class="col-md-12 col-sm-12 col-lg-2">
            <match-button 
                (clicked)="searchMatches($event)"
                [categories]="selectedCategories | async"
                [date]="date | async"></match-button>
       </div>
    </div>
</div>
<div *ngIf="loadingMatches | async">
    Loading Matches...
</div>
<ul class="list-group">
  <li class="list-group-item" *ngFor="let match of (matches | async)">
      {{ match }}
  </li>
</ul>

